body {
    background-color: #1D1E1C;
    font-family: 'Open Sans', sans-serif;
}

.bangers {
    font-family: 'Bangers', cursive;
}

.btn-team {
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    background-color: #FED410;
    color: black;
    border: none;
    width: 200px;
}

.btn-team:hover {
    background-color: #FF3F5F;
}

.yes {
    background-color: #DADADA;
}

.no {
    background-color: orange;
}

.yes:hover, .no:hover {
    background-color: #49D3EA;
    box-shadow: none;
}

.titre-bleu {
    font-size: 5em;
    color: #49D3EA;
    text-shadow: #404448 0px 0px 5px;
}

 ul {
     list-style-type: none;
 }

 .white {
     color: white;
 }

